/*правки в выпадающем список городов в шапке сайта*/
.towns-submenu {
    width: 195px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
    padding: 12px 0px 9px;
}

.towns-submenu li {
    margin: 0 0 0 19px;
    padding: 0;
    /*убираем padding*/
}

.towns-submenu li+li {
    padding: 0;
}

/*добавление иконки в левом сайдбаре*/
.left-menu .menu-title span.ico-lk {
    display: block;
    background: url('local/templates/farmacia/images/ico-lk.png') no-repeat 0 0;
    width: 68px;
    height: 61px;
    position: absolute;
    z-index: 10;
    top: -23px;
    left: -18px;
}

/*bootstrap style*/
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.glyphicon-remove::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url("local/templates/farmacia/images/upload-close.png") 1px -1px no-repeat;
}

/*стили инпутов и тексареи*/



.apply {

}

.apply_item {
    margin-bottom: 8px;
    border: 1px solid #b2b2b2;
    padding: 8px 15px;
    position: relative;
    background-color: #fff;
    font: 14px/1.2 Arial, Tahoma, Verdana, sans-serif;
    color: #2b2b2b;
    border-radius: 1px;
}

.apply .select-holder {
    margin-bottom: 8px;
}

button.cselect .select-text {
    padding: 8px 25px 8px 8px;
}

.apply_item label {
  font-weight: 700;
}

.apply .apply_field {
    border: none;
    outline: none;
    padding: 0;
    width: 64%;
}

.apply_textarea {
    border: none;
    outline: none;
    padding: 0;
    width: 100%;
}

/*загрузка файлов*/
.apply-upload {

}

.imageuploadify .imageuploadify-images-list span.imageuploadify-message {
    color: #d4d4d4;
    border-top-color: #d4d4d4;
    border-bottom-color: #d4d4d4;
}

.imageuploadify {
    min-height: 0;
}

.imageuploadify .imageuploadify-images-list button.btn-default {
    position: relative;
    bottom: -1px;
    border-radius: 0;
    margin-bottom: 0;
    color: #3D987B !important;
    border-top: 2px dashed #d2d2d2 !important;
    border-bottom: 2px dashed #d2d2d2 !important;
    background-color: #fff !important;
}

.imageuploadify .imageuploadify-images-list button.btn-default:hover {
    background-color: #3D987B !important;
    color: #fff !important;
    border: 2px dashed #d2d2d2 !important;
    border: none !important;
    border-top: 2px dashed #d2d2d2 !important;
    border-bottom: 2px dashed #d2d2d2 !important;
}

.imageuploadify .imageuploadify-images-list .imageuploadify-container {
    margin-top: 14px;
}

.imageuploadify .imageuploadify-images-list .imageuploadify-container {
  margin-right: 14px;
}

.imageuploadify .imageuploadify-images-list i {
  width: 100px;
  height: 63px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url('local/templates/farmacia/images/icon-cloud.png') 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.apply-upload {
    margin-bottom: 16px;
}

/*.apply_select {*/
    /*width: 100%;*/
/*}*/

.c-form_button {
    width: 100%;
    background-color: #3D987B;
    border-radius: 6px;
    color: #FFF;
    font-family: "Calibri", sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    border: none;
    outline: none;
}


/*application (стория заявок)*/
.application {
    font-family: "Calibri", sans-serif;
    color: #626262;
}

.application-item {
    margin-bottom: 13px;
    overflow: hidden;
    border: 1px solid #E9E9E9;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.application-item--active {
    box-sizing: border-box;
    background-color: #FFF;
    border: 1px solid #E9E9E9;
    box-shadow: 2px 3.5px 6px rgba(0, 0, 0, 0.1);
}

.application-item--active .application-item_header {
    background-color: #fff;
}


.application-item_header {
    position: relative;
    z-index: 2;
    padding: 10px 14px;
    background-color: #F6F6F6;
    cursor: pointer;
}

.application-item_title {
    font-size: 16px;
    font-weight: 400;
}

.application-item_number {
    font-size: 16px;
    font-weight: 700;
}

.application-icon {
    position: absolute;
    top: 50%;
    margin-top: -4px;
    right: 16px;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.application-item_body {
    padding: 14px 14px 10px;
    display: none;
    -webkit-transform: translateY(-500px);
    -ms-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.application_info-list {
    list-style: none;
    padding: 0;
    margin: 0;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.application_info-item {
    color: #2D2D2D;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
}
.application-item--active .application-icon {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.application-item--active .application-item_body {

    display: block;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
